    
    
    
    <footer class="container">
        <hr class="footer-divider">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p class="text-center">{{ .Site.Params.Contact.address_1 }} {{ .Site.Params.Contact.address_2 }} &middot; <ion-icon name="{{ .Site.Params.Footer.phone_icon }}"></ion-icon> {{ .Site.Params.Contact.phone }} &middot; Horario: visitas concertadas.</p>
          </div>
        </div>
        <p class="float-right"><a href="#">{{ .Site.Params.Footer.return_top }}</a></p>
        <p>&copy; {{.Site.Title}} &middot; <a href="{{.Site.BaseURL}}{{ .Site.Params.Footer.privacity_url }}">{{ .Site.Params.Footer.privacity_title }}</a> &middot; <a href="{{.Site.BaseURL}}{{ .Site.Params.Footer.terms_url }}">{{ .Site.Params.Footer.terms_title }}</a></p>
    </footer>
    
    <script src="{{.Site.BaseURL}}plugins/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{.Site.BaseURL}}plugins/js/bootstrap.min.js"></script>
</body>
</html>
