<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Aqualumen</title>
        <link rel="stylesheet" href="{{.Site.BaseURL}}plugins/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap&subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="{{.Site.BaseURL}}css/navbar.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}css/particles.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">
        <link rel="icon" href="{{.Site.BaseURL}}img/favicon.png">
    </head>

    <body>
        <div>
            <header>
                <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light" id="transmenu">
                    <div class="container"><a class="navbar-brand title-nav" href="#">Aqualumen</a><button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1" onclick="visibleMenu()"><span></span><span></span><span></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="#project">Proyecto</a></li>
                                <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                                <li class="nav-item"><a class="nav-link" href="#renting">Alquiler de salas</a></li>
                                <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                
                <div class="d-flex align-items-center section-header">
                    <div class="text-center w-100" style="height: 600px; margin-top: 170px;">
                        <div class="container text-center center-vertically-holder">
                            <div class="row text-center header-row">
                                <div class="col-5 col-md-6 col-lg-5 col-xl-5 text-right d-none d-sm-none d-md-none d-md-block align-self-end">
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 text-left align-items-end align-content-end align-self-end align-self-sm-end center-vertically-holder">
                                    <h2 class="color-orange title text-left">Mejora tu salud y el mundo en el que vives.</h2>
                                    <h3 class="text-left font-mobile">Promovemos y difundimos <strong>salud</strong></h3>
                                    <h3 class="text-left font-mobile">Guiamos tu <strong>transformación</strong> personal.</h3>
                                    <h3 class="text-left font-mobile">Acompañamos tu <strong>sanación</strong> con terapias respetuosas.</h3>
                                    <button type="button" onclick="window.location.href = '#services'" class="btn btn-orange btn-primary">Consulta los servicios y pide cita</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        
            <main>
                <section id="project" class="section-services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-section color-orange">Proyecto Aqualumen</h1>
                            </div>
                        </div>
                    </div>
                    <hr class="segment-bar">
                    <div class="section-service">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-services content-image">
                                    <img class="rounded mx-auto d-block" src="{{.Site.BaseURL}}img/logo.jpg" width="100%" loading="auto">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-services text-left">
                                    <h3 class="title color-orange">Nuestra visión</h3> 
                                    <p>La vida es un proceso energético y rítmico en equilibrio natural continuo. La salud es la capacidad de mantener el equilibrio físico, mental y espiritual del ser.</p> 
                                    <p>Colocamos al ser humano en el centro de su propia sanación, en su entorno y en conexión con la Naturaleza.</p> 
                                    <p>Te <strong>inspiramos</strong> a despertar tus capacidades innatas y naturales y las leyes que las rigen.</p> 
                                    <p>Te <strong>escuchamos</strong> y <strong>acompañamos con terapias</strong> respetuosas con los procesos naturales de sanación.</p>
                                    <p>Para mejorar tu salud y el mundo en el que vives.</p>
                                </div>
                            </div>
                            <hr class="segment-bar-sm">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-services text-left order-2 order-xs-2 order-sm-2 order-md-2 order-lg-1 order-xl-1">
                                    <h3 class="title color-orange">El Centro</h3> 
                                    <p>Aqualumen dispone en Barcelona de un espacio luminoso, tranquilo y ventilado que acoge y proporciona armonía a los usuarios.</p>  
                                    <p>El centro es un medio para promover y difundir salud.</p>
                                    <p>Aqualumen ofrece salas para terapias y cursos para profesionales de la salud que deseen acompañar y guiar el despertar de las capacidades innatas de curación del ser humano.</p>
                                    <button type="button" onclick="window.location.href = '#renting'" class="btn btn-orange btn-primary">Alquiler de salas ¿Te interesa?</button>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-services content-image order-1 order-xs-1 order-sm-1 order-md-1 order-lg-2 order-xl-2">
                                    <img class="rounded mx-auto d-block" src="{{.Site.BaseURL}}img/Salas.jpeg" width="100%" loading="auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-changes">
                    <div class="jumbotron jumbotron-fluid jumbotron-main">
                        <div id="particles-js">
                            <canvas class="particles-js-canvas-el" width="1409" height="319" style="width: 100%; height: 100%;"></canvas>
                        </div>
                        <div class="container center-vertically-holder">
                            <div class="row center-vertically">
                                <div class="col-md-8 offset-sm-0 offset-md-2 text-center" style="margin-top:100px;margin-bottom:100px;">
                                    <h1 class="title-section">Realizando cambios<br><br></h1>
                                    <hr style="border-top:1px;color:rgba(255,255,255,0.9);width:60%;margin:0px;margin-top:-50px;margin-bottom:10px;margin-left:20%;">
                                    <p>El Proyecto Aqualumen está en proceso de creación, sobretodo en el entorno digital. Ahora ofrece terapias de Biomagnetismo, Feminidad Profunda, Salud Consciente y espacios para promover y difundir la salud. Próximamente se impartirán cursos de Noesiología, talleres de Mujeres, encuentros de Hábitos Saludables y habrá más información en la web.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="services" class="section-services">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-section color-orange">Servicios</h1>
                            </div>
                        </div>
                    </div>
                    <hr class="segment-bar">
                    <div class="section-service">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="title color-orange">Par Biomagnético<br /><span class="text-dubtitle-services">Metodología de la Escuela del Dr. Isaac Goiz Durán</span></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 text-services">
                                    <p>El Par Biomagnético dentro del Biomagnetismo es una técnica energética no invasiva descubierta por el Dr. Isaac Goiz Duran, que mediante pares de imanes ordena el entorno interno y favorece el proceso de la vida recuperando así la salud.</p>
                                    <p>La evidencia clínica de mejora de la salud en muchas personas hace que sea una técnica muy valorada a nivel mundial.</p> 
                                    <p>El Par Biomagnético es una técnica integrativa que respeta otros tratamientos pautados, alopáticos o naturales.</p>
                                    <p><i><span class="color-orange">Profesional</span><br />Marisol Alcázar: parbiomagnetista de la escuela del Dr. Goiz, profesora de Noesiología y Noesiterapia de la escuela del Dr. Escudero y fundadora del Proyecto Aqualumen.</i></p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 align-items-center">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <p class="text-compressed"><span class="color-orange text-weight-up">PIDE CITA</span><br />presencial</p>
                                            <p class="text-compressed">Marisol Alcázar<br />Barcelona &middot; Sabadell &middot; Maresme<br /><span class="color-orange text-weight-up"><strong>670232195</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr class="segment-bar-sm">
                    <div class="section-service">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="title color-orange">Feminidad Profunda</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 text-services">
                                    <p>Despierta tu Feminidad Profunda y conecta con la sabiduría y espiritualidad femenina, desde donde realmente la mujer puede recuperar su equilibrio en autoestima, seguridad e inteligencia emocional de una forma integral y profunda.</p>
                                    <p>Recupera tu esencia femenina soltando patrones y disfruta de tus relaciones de pareja.</p>
                                    <p><i><span class="color-orange">Profesional</span><br />Cristina Riera: psicóloga y psicoterapeuta integrativa experta en Mindfulness y psicología de la Mujer.</i></p>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 align-items-center">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <p class="text-compressed"><span class="color-orange text-weight-up">PIDE CITA</span><br />presencial y online</p>
                                            <p class="text-compressed">Cristina Riera<br />Barcelona<br /><span class="color-orange text-weight-up"><strong>cristinariera.psicologa@gmail.com</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr class="segment-bar-sm">
                    <div class="section-service">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="title color-orange">Salud Consciente<br /><span class="text-dubtitle-services">Consulta de enfermería integrativa</span></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 text-services">
                                    <p>Te acompaño a descubrir tu propia forma de cuidarte, despertando tu creatividad y descubriendo los talentos que hay en ti. Con una visión integradora desde lo científico hasta lo holístico, combinando diferentes herramientas como las esencias florales, la reflexoterapia, la astrología terapéutica, la nutrición o las envolturas corporales, entre otras. </p>
                                    <p>Descubre el placer de escucharte y enfocar el cuidado desde tu propia esencia.</p>
                                    <p><i><span class="color-orange">Profesional</span><br />Sandra Mulero: enfermera integrativa, terapeuta floral, reflexoterapeuta, formada en astrología terapéutica, enfermera de orientación antroposófica.</i></p>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 align-items-center">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <p class="text-compressed"><span class="color-orange text-weight-up">PIDE CITA</span><br />presencial y online</p>
                                            <p class="text-compressed">Sandra Mulero<br />Barcelona &middot; Sant Cugat del Vallès &middot; Maresme<br /><span class="color-orange text-weight-up"><strong>601088883</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr class="segment-bar-sm">
                    <div class="section-service">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="title color-orange">Curso de Noesología y Noesiterapia<br /><span class="text-dubtitle-services">Acreditato por el Centro de Noesiologia del Dr. Escudero</span></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 text-services">
                                    <p>La Noesiología o conocimiento del pensamiento, nos a porta una sabiduría que permite desarrollar las capacidades innatas del ser humano en cualquier ámbito de la vida. La Noesiterapia se centra en el entrenamiento para recuperar la salud.</p>
                                    <p>Este conocimiento va dirigido a todos los públicos, ideal iniciarlo en las etapas tempranas de la vida por tanto se recomienda a los padres y educadores. En cuanto a favorecer la salud es de vital importancia facilitar recursos y acompañar a las personas que lo necesiten, así como formar a los profesionales sanitarios, médicos y terapeutas, para mejorar la atención y los resultados clínicos, en partos, intervenciones quirurjicas y en otras especialidades.</p>
                                    <p><i>A partir de septiembre del 2020 se empezarán a impartir cursos de Noesiología y Noesiterapia en el Centro Aqualumen y en los centros que lo soliciten.</i></p>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 align-items-center">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <p class="text-compressed"><span class="color-orange text-weight-up">¿Te interesa?</span><br />presencial y online</p>
                                            <p class="text-compressed">Marisol Alcázar<br />Barcelona<br /><span class="color-orange text-weight-up"><strong>670232195</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section id="renting" class="section-renting">
                    <div class="jumbotron jumbotron-fluid jumbotron-main jumbotron-orange">
                        <div class="container center-vertically-holder">
                            <div class="row center-vertically">
                                <div class="col-md-8 offset-sm-0 offset-md-2 text-center" style="margin-top:100px;margin-bottom:100px;">
                                    <h1 class="title-section">Alquiler de salas<br><br></h1>
                                    <hr style="border-top:1px;color:rgba(255,255,255,0.9);width:60%;margin:0px;margin-top:-50px;margin-bottom:10px;margin-left:20%;">
                                    <p>Aqualumen ofrece un espacio con salas para terapias y cursos para profesionales de la salud que deseen acompañar y guiar el despertar de las capacidades innatas de curación del ser humano.</p>
                                    <p><span class="text-size-up2"><strong>¿Te interesa?</strong></span><br />Contacta con Marisol Alcázar<br /><span class="text-weight-up text-size-up"><strong>670232195</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="contact" class="section-services">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-section color-orange">Contacto</h1>
                            </div>
                        </div>
                    </div>
                    <hr class="segment-bar">
                    <div class="section-service">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-6 text-services">
                                    <h1 class="title color-orange">Centro Aqualumen</h1>
                                    <p>Gran Vía Carles III, 65 entl. 2ª 08028 Barcelona<br />670232195 &middot; Horario: visitas concertadas.</p>
                                    <p><span class="color-orange">Profesionales</span><br />Marisol Alcázar: 670232195<br />Cristina Riera: cristinariera.psicologa@gmail.com<br />Sandra Mulero: 601088883</p>
                                </div>
                                <div class="hidden-xs hidden-sm col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1496.7675958584648!2d2.1273940944463563!3d41.38418228341828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4986057f93cc3%3A0xeb2ce87eb926e31b!2sGran%20Via%20de%20Carles%20III%2C%2065%2C%2008028%20Barcelona!5e0!3m2!1sca!2ses!4v1589904469128!5m2!1sca!2ses" width="100%" height="100%" style="min-height:450px;" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </main>

            <footer>
                <section class="section-footer">
                    <div class="container">
                        <hr />
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin-top:20px;">
                                <p>Mejora tu salud y el mundo en el que vives.</p>
                            </div>
                            <div class="col-md-12 text-center" style="margin-bottom:20px;">
                                <a class="nolink" href="#">Aqualumen</a>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>

        <script src="{{.Site.BaseURL}}plugins/js/jquery.min.js"></script>
        <script src="{{.Site.BaseURL}}plugins/js/bootstrap.min.js"></script>
        <script src="{{.Site.BaseURL}}/js/navbar.js"></script>
        <script src="{{.Site.BaseURL}}plugins/js/particles.min.js"></script> 
        <script src="{{.Site.BaseURL}}/js/particles.js"></script>
    </body>

</html>
