<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Aqualumen</title>
        <link rel="stylesheet" href="{{.Site.BaseURL}}plugins/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap&subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="{{.Site.BaseURL}}css/navbar.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}css/particles.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">
        <link rel="icon" href="{{.Site.BaseURL}}img/favicon.png">
    </head>

    <body>
        <div>
            <header>
                <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light" id="transmenu">
                    <div class="container"><a class="navbar-brand title-nav" href="#">Aqualumen</a><button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1" onclick="visibleMenu()"><span></span><span></span><span></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="{{.Site.BaseURL}}#project">Proyecto</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{.Site.BaseURL}}#services">Servicios</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{.Site.BaseURL}}#renting">Alquiler de salas</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{.Site.BaseURL}}#contact">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                
                <div class="d-flex align-items-center section-header">
                    <div class="text-center w-100" style="height: 600px; margin-top: 170px;">
                        <div class="container text-center center-vertically-holder">
                            <div class="row text-center header-row">
                                <div class="col-5 col-md-6 col-lg-5 col-xl-5 text-right d-none d-sm-none d-md-none d-md-block align-self-end">
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 text-left align-items-end align-content-end align-self-end align-self-sm-end center-vertically-holder">
                                    <h2 class="color-orange title text-left">Mejora tu salud y el mundo en el que vives.</h2>
                                    <h3 class="text-left font-mobile">La página que visitas no se ha encontrado o ya no existe.</h3>
                                    <button type="button" onclick="window.location.href = '{{.Site.BaseURL}}'" class="btn btn-orange btn-primary">Ir a la página de incio</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        
            <main>
            </main>

            <footer>
                <section class="section-footer">
                    <div class="container">
                        <hr />
                        <div class="row">
                            <div class="col-md-10 text-left" style="margin-top:20px;margin-bottom:20px;">
                                <p>Mejora tu salud y el mundo en el que vives.</p>
                            </div>
                            <div class="col-md-2 text-right" style="margin-top:20px;margin-bottom:20px;">
                                <p>Aqualumen</p>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>

        <script src="{{.Site.BaseURL}}plugins/js/jquery.min.js"></script>
        <script src="{{.Site.BaseURL}}plugins/js/bootstrap.min.js"></script>
        <script src="{{.Site.BaseURL}}/js/navbar.js"></script>
        <script src="{{.Site.BaseURL}}plugins/js/particles.min.js"></script> 
        <script src="{{.Site.BaseURL}}/js/particles.js"></script>
    </body>

</html>